
.king-ui-btn {
    background: var(--theme-background);
    color: var(--theme-color);

    border-color: var(--theme-border-color);
    border-style: var(--theme-border-style);
    border-width: var(--theme-border-width);
    border-radius: var(--theme-border-radius);

    font-size: unset;
    font-family: unset;
    cursor: pointer;

    user-select: none;

    padding: .35em .5em .20em .5em;
}

.king-ui-btn:hover {
    background: var(--theme-special--hover);
}

.king-ui-btn:active {
    background: var(--theme-special--active);
}

.king-ui-btn:focus {
    outline: none;
}

.king-ui-btn--disabled {
    background: var(--theme-background--disabled);
    color: var(--theme-color--disabled);

    border-color: var(--theme-border-color--disabled);

    cursor: default;
}

.king-ui-btn--disabled:hover {
    background: var(--theme-background--disabled);
}

.king-ui-btn--disabled:active {
    background: var(--theme-background--disabled);
}

.king-ui-btn-shadow {
    box-shadow: var(--theme-box-shadow);
}

.king-ui-btn-shadow--disabled {
    box-shadow: var(--theme-box-shadow--disabled);
}
