.king-ui-toggleswitch {
    position: relative;
    display: inline-block;

    font-size: 1em;

    width: 3em;
    height: 1.59375em;
}

.king-ui-toggleswitch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.king-ui-toggleswitch span {
    position: absolute;
    cursor: pointer;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    border-radius: 2rem; /* NOTE 34px */
    background: var(--theme-background-light);
}

.king-ui-toggleswitch span::before {
    content: '';

    position: absolute;

    left: 0.1875em;
    bottom: .15em;
    height: 1.21875em;
    width: 1.21875em;

    border-radius: 50%;

    transition: all .25s ease;

    background: var(--theme-input-color);
}

.king-ui-toggleswitch input:checked + span:before {
    transform: translateX(1.21875em);
}

.king-ui-toggleswitch input:checked + span {
    background: var(--theme-special--primary);
}
