.tr {
  top: .5rem;
  right: .5rem;
}

.tl {
  top: .5rem;
  left: .5rem;
}

.br {
  bottom: .5rem;
  right: .5rem;
}

.bl {
  bottom: .5rem;
  left: .5rem;
}

.navbutton {
  position: fixed;
  z-index: 100;
}

.navbutton button {
  font-size: inherit;
}

.overlay {
  display: flex;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--navoverlay-bg);
  width: 100vw;
  height: 100vh;
}

.overlay > * {
  margin: .25em;
}
