.navbutton {
  position: fixed;
  z-index: 100;
}

.navbutton button {
  font-size: inherit;
}

.overlay {
  display: flex;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--navoverlay-bg);
  width: 100vw;
  height: 100vh;
}

.overlay > * {
  margin: .25em;
}
