.king-ui-navbar > a {
  float: left;
  display: block;
  padding: .5rem 1rem;
  text-align: center;
  color: var(--color);
  cursor: pointer;
}

.king-ui-navbar > a:hover:not(.active) {
  background: var(--navbar-bg2);
  filter: var(--filter-hover);
}

.king-ui-navbar > a:active:not(.active) {
  background: var(--navbar-bg2);
  filter: var(--filter-active);
}

.king-ui-navbar > a.active {
  background: var(--navbar-bg2);
  text-decoration: underline;
}

.king-ui-navbar > a.king-ui-navbar-icon {
  display: none;
}

@media only screen and (max-width: 750px) {
  .king-ui-navbar a:not(.active) {
    display: none;
  }

  .king-ui-navbar a.king-ui-navbar-icon {
    float: right;
    display: block;
  }
}

@media only screen and (max-width: 750px) {
  .king-ui-navbar.responsive {
    position: relative;
  }

  .king-ui-navbar.responsive a.king-ui-navbar-icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .king-ui-navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
