.king-ui-notify--info {
    display: flex;
    flex-direction: column;
    padding: .25rem;
    margin: .1rem;
}

.king-ui-notify--warn {
    display: flex;
    flex-direction: column;
    padding: .25rem;
    margin: .1rem;
}

.king-ui-notify--error {
    display: flex;
    flex-direction: column;
    padding: .25rem;
    margin: .1rem;
}
