/* <<- Load Fonts */
@font-face {
    src:
        local('Audiowide'),
        url('../Fonts/Audiowide/Audiowide-Regular.ttf') format('truetype');
    font-family: Audiowide;
    font-style: normal;
    font-weight: normal;
}
/* ->> */

/* <<- :root & body & *, *::before, *::after */
:root {
  /* Base Color */
  --color: rgb(190, 190, 190);
  --color-rgb: 190, 190, 190;
  --color-input: rgb(255, 255, 255);
  --color-input-rgb: 255, 255, 255;
  --color-secondary: rgb(15, 70, 250);
  --color-secondary-rgb: 15, 70, 250;
  --color-info: rgb(0, 180, 0);
  --color-info-rgb: 0, 180, 0;
  --color-warn: rgb(180, 180, 0);
  --color-warning-rgb: 180, 180, 0;
  --color-error: rgb(180, 0, 0);
  --color-error-rgb: 0, 0, 180;
  --bg: rgb(15, 15, 15);
  --bg-rgb: 15, 15, 15;

  --bg-alpha: .7;

  /* Border */
  --border-radius: .5rem;
  --border-width: .123rem;
  --border-style: solid;
  --border-color: var(--color-secondary);
  --border-color-rgb: var(--color-secondary-rgb);

  /* Shadow */
  --box-shadow-color: var(--color-secondary);
  --box-shadow-color-rgb: var(--color-secondary-rgb);
  --box-shadow: 
    inset 0 0 .4em .125em var(--box-shadow-color),
    0 0 .4em .15em var(--box-shadow-color);
  --text-shadow-color: var(--color-secondary);
  --text-shadow-color-rgb: var(--color-secondary-rgb);
  --text-shadow: 
    0 0 1em var(--bg),
    0 0 .4em var(--text-shadow-color),
    0 0 .175em var(--text-shadow-color);

  /* Filter */
  --filter-disabled: brightness(50%) opacity(25%);
  --filter-hover: brightness(175%);
  --filter-focus: var(--filter-hover);
  --filter-active: brightness(75%);
}

body {
  margin: 0;
  padding: 0;
  color: var(--color);
  background: var(--bg);
}

*, *::before, *::after {
  box-sizing: border-box;
  user-select: none;
  font-family: Audiowide;
  font-size: 1rem;
}
/* ->> */

/* <<- ::-webkit... */
::-webkit-scrollbar {
  display: none;
  width: 0;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* ->> */

/* <<- shadow */
.king-ui-box-shadow {
  box-shadow: 
    inset 0 0 .4em .125em var(--box-shadow-color),
    0 0 .4em .15em var(--box-shadow-color);
}

.king-ui-text-shadow {
  text-shadow:
    0 0 .175em var(--bg),
    0 0 .175em var(--text-shadow-color),
    0 0 .350em var(--text-shadow-color);
}
/* ->> */

/* <<- king-ui-card{-info, -warn, -error} */
.king-ui-card {
  margin: .1rem;
  padding: .25rem;
  background: rgba(var(--bg-rgb), var(--bg-alpha));
  border-radius: var(--border-radius);
  border:
    var(--border-width)
    var(--border-style)
    var(--border-color);
}

.king-ui-card-info {
  margin: .1rem;
  padding: .25rem;
  background: rgba(var(--bg-rgb), var(--bg-alpha));
  border-radius: var(--border-radius);
  border:
    var(--border-width)
    var(--border-style)
    var(--color-info);
}

.king-ui-card-warn {
  margin: .1rem;
  padding: .25rem;
  background: rgba(var(--bg-rgb), var(--bg-alpha));
  border-radius: var(--border-radius);
  border:
    var(--border-width)
    var(--border-style)
    var(--color-warn);
}

.king-ui-card-error {
  margin: .1rem;
  padding: .25rem;
  background: rgba(var(--bg-rgb), var(--bg-alpha));
  border-radius: var(--border-radius);
  border:
    var(--border-width)
    var(--border-style)
    var(--color-error);
}
/* ->> */

/* TODO: remove from Theme (???) */
/* <<- king-ui-text */
.king-ui-text {
  --text-color: var(--color);
  --text-bg: transparent;

  font-size: inherit;
  color: var(--text-color);
  background: var(--text-bg);
  padding: 0;
  margin: 0;
}

.king-ui-text--disabled {
  cursor: default;
  pointer-events: none;
  filter: var(--filter-disabled);
}
/* ->> */

/* TODO: remove from Theme (???) */
/* <<- king-ui-input */
.king-ui-input {
  display: flex;
  position: relative;
  flex-direction: column;
  text-align: center;
  padding: 1.2em 0 .2em 0;
}

.king-ui-input input {
  text-align: center;
  font-size: 1em;
  font-family: unset;
  background: transparent;
  color: var(--color-input);
  width: 100%;
  border: none;
  border-bottom:
    var(--border-width)
    var(--border-style)
    var(--border-color);
  border-radius: var(--border-radius);
}

.king-ui-input input:focus {
  outline: none;
}

.king-ui-input span {
  position: absolute;
  top: 50%;
  font-size: .9em;
  transition: transform .25s ease;
  width: 100%;
  pointer-events: none;
}

.king-ui-input input:focus + span {
  transform: translateY(-1.5em);
}

.king-ui-input input:not([value=""]) + span {
  transform: translateY(-1.5em);
}
/* ->> */

/* TODO: remove from Theme (???) */
/* <<- king-ui-container-root */
.king-ui-container-root {
  position: relative;
  user-select: none;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
/* ->> */

/* TODO: remove from Theme (???) */
/* <<- king-ui-notify */
#king-ui-notify {
  display: flex;
  position: absolute;
  z-index: 999;
  flex-direction: column;
  overflow-y: auto;
  width: 100%;
  max-width: 30ch;
}

.king-ui-notify {
  display: flex;
  flex-direction: column;
}
/* ->> */

/* TODO: remove from Theme (???) */
/* <<- king-ui-toggle-switch */
.king-ui-toggle-switch {
  position: relative;
  display: inline-block;
  width: 3em;
  height: 1.55em;
}

.king-ui-toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.king-ui-toggle-switch span {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(var(--color-secondary-rgb), .4);
  border-radius: 2rem;
}

.king-ui-toggle-switch span::before {
  position: absolute;
  left: 0.19em;
  bottom: .15em;
  transition: all .25s ease;
  background: var(--color-input);
  content: '';
  height: 1.2em;
  width: 1.2em;
  border-radius: 50%;
}

.king-ui-toggle-switch input:checked + span::before {
  transform: translateX(1.45em);
}

.king-ui-toggle-switch input:checked + span {
  background: var(--color-secondary);
}
/* ->> */
