@font-face {
    src:
        local('Audiowidt'),
        url('../Fonts/Audiowide/Audiowide-Regular.ttf') format('truetype');
    font-family: Audiowide;
    font-style: normal;
    font-weight: normal;
}

:root {
    --theme-root: rgba(0, 0, 0, 1);
    --theme-background: rgba(15, 15, 15, .6);
    --theme-background-light: rgba(30, 30, 30, .6);
    --theme-background--disabled: rgba(0, 0, 0, .6);
    --theme-color: rgba(190, 190, 190, 1);
    --theme-color--disabled: rgba(110, 110, 110, 7);
    --theme-special--primary: rgba(15, 70, 250, 1);
    --theme-special--primary--disabled: rgba(5, 30, 120, 1);
    --theme-special--active: rgba(150, 0, 0, .6);
    --theme-special--hover: rgba(50, 0, 0, .6);

    --theme-border-color: var(--theme-special--primary);
    --theme-border-color--disabled: var(--theme-special--primary--disabled);
    --theme-border-style: solid;
    --theme-border-width: .123rem;
    --theme-border-radius: .5rem;

    --theme-nav-background: var(--theme-background);
    --theme-input-background: transparent;
    --theme-input-color: rgba(255, 255, 255, 1);

    --theme-box-shadow:
        inset 0 0 .4em .125em var(--theme-special--primary),
        0 0 .4em .15em var(--theme-special--primary);
    --theme-box-shadow--disabled:
        inset 0 0 .4em .125em var(--theme-special--primary--disabled),
        0 0 .4em .15em var(--theme-special--primary--disabled);

    --theme-text-shadow:
        0 0 1em var(--theme-root),
        0 0 .4em var(--theme-special--primary),
        0 0 .175em var(--theme-special--primary);
    --theme-text-shadow--disabled:
        0 0 1em var(--theme-root),
        0 0 .4em var(--theme-special--primary--disabled),
        0 0 .175em var(--theme-special--primary--disabled);

    background: var(--theme-root);
    color: var(--theme-color);

    font-family: Audiowide;
    font-style: normal;
    font-weight: normal;
}

body {
    margin: 0;
    padding: 0;
}

*::-webkit-scrollbar {
    display: none;
    width: 0;
}

*, *::before, *::after {
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
}

.king-ui-card {
    border: var(--theme-border-width) var(--theme-border-style) var(--theme-border-color);
    border-radius: var(--theme-border-radius);
    background: var(--theme-background);
    padding: .25rem;
    margin: .1rem;
}

.king-ui-card--info {
    border: var(--theme-border-width) var(--theme-border-style) rgba(0, 200, 0, 1);
    border-radius: var(--theme-border-radius);
    background: var(--theme-background);
    padding: .25rem;
    margin: .1rem;
}

.king-ui-card--warn {
    border: var(--theme-border-width) var(--theme-border-style) rgba(200, 200, 0, 1);
    border-radius: var(--theme-border-radius);
    background: var(--theme-background);
    padding: .25rem;
    margin: .1rem;
}

.king-ui-card--error {
    border: var(--theme-border-width) var(--theme-border-style) rgba(200, 0, 0, 1);
    border-radius: var(--theme-border-radius);
    background: var(--theme-background);
    padding: .25rem;
    margin: .1rem;
}
